alabaster==0.7.12
Babel==2.6.0
biopython==1.72
breathe==4.11.1
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
configparser==3.7.1
docutils==0.14
Flask==1.0.2
Frozen-Flask==0.15
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.3
packaging==18.0
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
Pygments==2.2.0
pyparsing==2.2.2
pytz==2018.6
requests==2.20.0
rsa==4.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
typing==3.6.6
uritemplate==3.0.0
urllib3==1.24
Werkzeug==0.14.1
